*{
    margin: 0px;
    padding: 0px;
}

/* nav bar style  */
.nav-bar{
    display: flex;
    align-items: center;
    background-color: darkgray;
    justify-content: space-around;
    padding: 10px 30px 10px 30px;
}

.menus{
    font-size: 22px;
}
ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

/* banner area style  */
.banner-container{
    height: 100vh;
    background-image: url('/asset/image/background.jpg');
}
span{
    color: red;
}

.banner-info{
    align-items: center;
}

